    {% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ form_stylesheet(form) }}
    {% endblock %}

    {% block body %}

    <section class="group_panel">
    {% for flashMessage in app.session.flashbag.get('notice') %}

    <div class="alert alert-success alert-dismissible flash_error_group" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ flashMessage }}
    </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger alert-dismissible flash_error_group" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ flashMessage }}
    </div>

    {% endfor %}
 
    <div class="row platform_filter">
        <div class="col-3">
            <select class="custom-select" id="select_filter_group">
                <option selected value="all">Todos los grupos</option>
                <option value="mygroups">Mis grupos</option>
                <option value="myregister">Grupos registrados</option>
                <option value="history_mygroups">Historial de grupos</option>
                <option value="history_myregister">Historial de participaciones</option>
            </select> 
        </div>
        <div class="col-3">
            <select class="custom-select" id="select_filter_platform">
                <option selected value="0">Todas las plataformas</option>
                {% for platform in platforms %}
                    <option value="{{ platform.id }}">{{ platform.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4"></div>
        <div class="col-2"><button class="btn btn-primary btn-block" id="new_group_btn" data-toggle="modal" data-target="#exampleModal">Nuevo grupo</button></div>
    </div>
      
    <div id="loading_div" class="loading_group_div">Cargando grupos...</div>
    <div name="div_dinamico" id="div_dinamico" class="div_dinamico">
        <div class="loading_group_div">Cargando grupos...</div>
    </div> 
    </section>

    <!-- Info group modal -->
    <div class="modal" id="group_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="group_leader"></div>
                <div class="group_participants"></div>
                <div class="group_part_require"></div>
            </div>
            <div class="modal-footer">
                <div class="group_date mr-auto"></div>
                <button id="group_signUp" type="button" class="btn btn-primary">Inscribirse</button>
                <button id="group_signDown" type="button" class="btn btn-primary">Darse de baja</button>
                <div id="confirm_signdown" style="display:none;">
                    <input type="hidden" id="group_id_value" name="group_id_value" readonly/>
                    <div style="text-align:center;"><b>¿Está seguro?</b></div>
                    <button id="group_signdown_accept" type="button" class="btn btn-success btn-sm">Aceptar</button>
                    <button id="group_signdown_cancel" type="button" class="btn btn-danger btn-sm">Cancelar</button>
                </div>
                <button id="group_delete" type="button" class="btn btn-primary">Cancelar grupo</button>
                <div id="confirm_delete" style="display:none;">
                    <input type="hidden" id="group_id_value" name="group_id_value" readonly/>
                    <input type="hidden" id="active_group" name="active_group" readonly/>
                    <div style="text-align:center;"><b>¿Está seguro?</b></div>
                    <button id="group_delete_accept" type="button" class="btn btn-success btn-sm">Aceptar</button>
                    <button id="group_delete_cancel" type="button" class="btn btn-danger btn-sm">Cancelar</button>
                </div>
                <button id="group_chat" type="button" class="btn btn-secondary">Entrar al chat</button>
            </div>
            </div>
        </div>
    </div>

    <!-- New group modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ path('group') }}" method="post">
                <div class="modal-body">
                {% if num_groups_user is defined and num_groups_user <3 or num_groups_user is not defined %}
                    <div class="group_form_field">{{ form_widget(form.game) }}</div>
                    <div class="group_form_field">{{ form_widget(form.platform) }}</div>
                    <div class="group_form_field">{{ form_widget(form.datetime) }}</div>
                    <div class="group_form_field">{{ form_widget(form.max_participants) }}</div>
                {% else %}
                    <div id="max_groups_user">
                        El usuario ha superado el límite de grupos creados y activos de manera simultánea
                    </div>
                {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    {% if num_groups_user is defined and num_groups_user < 3 or num_groups_user is not defined %}
                    {{ form_widget(form.reset) }}
                    {{ form_widget(form.submit) }}
                    {% endif %}
                </div>
            <form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalChat"  data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalChatLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalChatLabel"><b>Chat </b></h5>
                <button id="close_chat_btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div_messages" class="div_messages"></div>
            </div>
            <div class="modal-footer">
                <input type="text" class="form-control" id="message_field" placeholder="Escriba su mensaje">
                <button id="send_message" type="button" class="btn btn-primary">Enviar</button>
            </div>
            </div>
        </div>
    </div>

    {% endblock %} 

    {% block javascripts %}

    {{ form_javascript(form) }}

   <script type="text/javascript">  

$(document).ready(function(){  
    
    var cargando = $("#loading_div");

    $('#select_filter_platform').val(0);
    $('#select_filter_group').val('all');

    cargando.show();
    $('#div_dinamico').load(Routing.generate('groups_json', { filter_group: 'all', id_platform: 0 }));
    cargando.hide();

    $('#select_filter_group').on('change', function() {
        var filter_group = $('#select_filter_group').val();

        $('#div_dinamico').hide();
        cargando.show();
        
        $.ajax({  
            url: Routing.generate('groups_json', { filter_group: filter_group, id_platform: 0 }),  
            success: function(data) {  
                cargando.hide();
                $('#div_dinamico').html(data); 
                $('#div_dinamico').show();
            }  
        });  
    });  
  
    $('#select_filter_platform').on('change', function() {
        var platform = $('#select_filter_platform').val();
        var filter_group = $('#select_filter_group').val();

        $('#div_dinamico').hide();
        cargando.show();
        
        $.ajax({  
            url: Routing.generate('groups_json', { filter_group: filter_group, id_platform: platform }),  
            success: function(data) {  
                cargando.hide();
                $('#div_dinamico').html(data); 
                $('#div_dinamico').show();
            }  
        });  
    });  
    
});

$('#group_modal').on('show.bs.modal', function (event) {
    var $modal = $(this);
    var game = $(event.relatedTarget).data('game');
    var user = $(event.relatedTarget).data('user');
    var datetime = $(event.relatedTarget).data('datetime');
    var platform = $(event.relatedTarget).data('platform');
    var id_group = $(event.relatedTarget).data('id');
    var participants = $(event.relatedTarget).data('users');
    var max_part = $(event.relatedTarget).data('part');
    var numpart = $(event.relatedTarget).data('numpart');
    var isActive = $(event.relatedTarget).data('active');
    var loggedUser = "{{ app.user.username }}";
    var btn_signin = document.getElementById('group_signUp');
    var btn_signdown = document.getElementById('group_signDown');
    var btn_groupdelete = document.getElementById('group_delete');
    var group_delete_accept = document.getElementById('group_delete_accept');
    var group_signdown_accept = document.getElementById('group_signdown_accept');
    var btn_chat = document.getElementById('group_chat');

    var participants_array = participants.split(",");

    $modal.find('.modal-title').html('<i class="fab fa-'+platform.toLowerCase()+'"></i> '+game);
    $('#group_id_value').val(id_group);
    $('#active_group').val(isActive);

    if(loggedUser == user) {
        $modal.find('.modal-body .group_leader').html('<b>Líder:</b> '+user+' (tú)');
        btn_signin.style.display = "none";
        btn_signin.disabled = true;
        btn_groupdelete.style.display = "inline";
        btn_groupdelete.disabled = false;
    }
    else {
        $modal.find('.modal-body .group_leader').html('<b>Líder:</b> '+user);
        btn_groupdelete.style.display = "none";
        btn_groupdelete.disabled = true;
    }

    var string_participants="";
    var bUserIsParticipant = false;

    for(var i = 0; i < participants_array.length; i++) {
        if(i == 0)
            string_participants += "<ul>";
        if(participants_array[i] != "")
            string_participants += "<li>"+participants_array[i]+"</li>";
        if(i == participants_array.length - 1)
            string_participants +="</ul>";
        if(loggedUser == participants_array[i])
            bUserIsParticipant = true;
    }

    var rest_part = max_part - numpart;

    $modal.find('.modal-body .group_part_require').html('<b>Huecos restantes:</b> '+rest_part);

    if(bUserIsParticipant) {
        btn_chat.style.display = "inline";
        btn_chat.disabled = false;
        btn_signin.style.display = "none";
        btn_signin.disabled = true;
        btn_signdown.style.display = "inline";
        btn_signdown.disabled = false;
    }
    else {
        if(loggedUser == user) {
            btn_chat.style.display = "inline";
            btn_chat.disabled = false;
            btn_signin.style.display = "none";
            btn_signin.disabled = true; 
            btn_signdown.style.display = "none";
            btn_signdown.disabled = true;          
        }
        else {
            btn_chat.style.display = "none";
            btn_chat.disabled = true;
            if(rest_part != 0) {
                btn_signin.style.display = "inline";
                btn_signin.disabled = false;
            }
            btn_signdown.style.display = "none";
            btn_signdown.disabled = true;
        }
    }

    if(isActive == 0) {
        btn_signin.style.display = "none";
        btn_signin.disabled = true;
        btn_signdown.style.display = "none";
        btn_signdown.disabled = true;
        btn_groupdelete.style.display = "none";
        btn_groupdelete.disabled = true;
    }

    if(numpart == 0)
        string_participants = "No existen participantes inscritos";
    $modal.find('.modal-body .group_participants').html('<b>Participantes: </b>' +string_participants);
    $modal.find('.modal-footer .group_date').html('<b>Comienzo: </b><br>'+datetime);
});

$('#group_modal').on('hide.bs.modal', function(event) {
    group_delete.style.display = "inline";
    confirm_delete.style.display = "none";
    group_signDown.style.display = "inline";
    confirm_signdown.style.display="none";
    group_chat.style.display = "inline";
});

$('#group_delete').on('click',function(event) {
    var group_delete = document.getElementById('group_delete');
    var confirm_delete = document.getElementById('confirm_delete');
    var group_chat = document.getElementById('group_chat');
    group_delete.style.display = "none";
    confirm_delete.style.display = "inline";
    group_chat.style.display = "none";  
});

$('#group_delete_accept').on('click',function(event) {
    var id_group = $('#group_id_value').val();

    $('#group_modal').modal('hide');

    $.ajax({
        url: Routing.generate('close_group', { id_group: id_group }),
        success: function(data) {
            location.href= "{{ path("group") }}";
        }
    });
});

$('#group_delete_cancel').on('click', function(event) {
    group_delete.style.display = "inline";
    confirm_delete.style.display = "none";
    group_chat.style.display = "inline";
});

$('#group_signUp').on('click', function(event) {
    var id_group = $('#group_id_value').val();
    var loggedUser = "{{ app.user.id }}";

    $('#group_modal').modal('hide');

    $.ajax({
        url: Routing.generate('register_group', { id_group: id_group, id_user: loggedUser }),
        success: function(data) {
            location.href="{{ path("group") }}";
        }
    });
});

$('#group_signDown').on('click',function(event) {
    var group_signDown = document.getElementById('group_signDown');
    var confirm_signdown = document.getElementById('confirm_signdown');
    var group_chat = document.getElementById('group_chat');
    group_signDown.style.display = "none";
    confirm_signdown.style.display = "inline";
    group_chat.style.display = "none";  
});

$('#group_signdown_accept').on('click',function(event) {
    var id_group = $('#group_id_value').val();

    $('#group_modal').modal('hide');

    $.ajax({
        url: Routing.generate('signdown_group', { id_group: id_group }),
        success: function(data) {
            location.href= "{{ path("group") }}";
        }
    });
});

$('#group_signdown_cancel').on('click', function(event) {
    group_signDown.style.display = "inline";
    confirm_signdown.style.display = "none";
    group_chat.style.display = "inline";
});

$('#group_chat').on('click', function(event) {
    var id_group = $('#group_id_value').val();
    var group_active = $('#active_group').val();
    var btn_send = document.getElementById('send_message');
    var field_msg = document.getElementById('message_field');
    $('#div_messages').load(Routing.generate('get_messages', { id_group: id_group }));
    if(group_active == 1) {
        var intervalrepeat = setInterval(charge_messages, 5000);
        btn_send.disabled = false;
        field_msg.disabled = false;
    }
    else {
        btn_send.disabled = true;
        field_msg.disabled = true;
        field_msg.placeholder = "No puede enviar mensajes en un grupo cerrado";
    }

    $('#modalChat').modal('show');

    function charge_messages() {
        $.ajax({  
            url: Routing.generate('get_messages', { id_group: id_group }),  
            success: function(data) {  
                $('#div_messages').html(data); 
            }
        });
    }

    $('#close_chat_btn').on('click', function(event) {
        clearInterval(intervalrepeat);
        $('#message_field').val("");
    });

    $('#send_message').on('click', function(event) {
        var data = {}
        var msg;
        msg = $('#message_field').val();
        data['id_group'] = id_group;
        data['id_user'] = "{{ app.user.id }}";
        data['message'] = msg;
        $.ajax({
            url: Routing.generate('add_message', { id_group: id_group}),
            type: "POST",
            data: data,
            success: function(data) {
                $('#message_field').val("");
            }
        });
    });

});

</script>        
    {% endblock %}