{% extends 'base.html.twig' %}

{% block body %}
<div class="paneles">
    <div class="panel panel-success perfil-panel"> <!-- PERFIL -->
        <div class="img_and_name">
            <div>
                <img class="profile_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
            </div>
            <div class="profile_data">
                Nombre<br>
                Nombre de usuario
            </div>
        </div>
        <div class="data_numbers">
            <a>Publicaciones: 500</a> |
            <a>Puntuación: 288</a>
        </div>
    </div>
    <div class="panel panel-success timeline-panel"> 
        <ul class="list-group">
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>

        </ul>
    </div>
    <div class="panel panel-success notification-panel">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Nuevos mensajes
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Nuevos me gusta
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Nuevos seguidores
            </li>
            <li class="list-group-item">
                <a>Ver todas las notificaciones</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}