{% extends 'base.html.twig' %}

{% block body %}
<div class="paneles">
    <div class="card profile-panel">
        <div class="img_and_name">
            <div>
                <img class="profile_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
            </div>
            <div class="profile_data">
                Nombre<br>
                Nombre de usuario
            </div>
        </div>
        <div class="data_numbers">
            <a href="#">Publicaciones: 500</a> |
            <a href="#">Puntuación: 288</a>
        </div>
    </div>

    <div class="panel panel-success timeline-panel"> 
        <ul class="list-group">
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a href="#">Comentarios: 500</a> |
                <a href="#">Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>
            <li class="list-group-item">
            <div class="post_profile">
                <img class="post_img", src="{{ asset('bundles/app/image/default_profile.png') }}">
                <div class="post_data">
                    NombreCuenta NombreUsuario HoraPublicación
                    <br>
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablabla
                    Esto es un texto aleatorio blablablaEsto es un texto aleatorio blablabla
                </div>
            </div>
            <div class="post_panel">
                <a>Comentarios: 500</a> |
                <a>Likes: 288</a>
            </div>
            </li>

        </ul>
    </div>
    <div class="notification-panel">
        <div class="panel panel-success">
            <ul class="list-group">
                <li class="list-group-item">
                    Nuevos mensajes
                    <span class="badge badge-pill badge-dark">14</span>
                </li>
                <li class="list-group-item">
                    Nuevos me gusta
                    <span class="badge badge-pill badge-dark">5</span>
                </li>
                <li class="list-group-item">
                    Nuevos seguidores
                    <span class="badge badge-pill badge-dark">3</span> 
                </li>
                <li class="list-group-item">
                    <a href="#">Ver todas las notificaciones</a>
                </li>
            </ul>
        </div>
        <div class="card new_post_card">
            <div class="card-header">
                Nueva publicación
            </div>
            <div class="card-body">
                <div class="form-group">
                    <textarea class="form-control new_post" maxlength='140' rows="3"></textarea>
                </div>
                <a href="#" class="btn btn-primary btn_new_post">Enviar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}