{% extends 'base.html.twig' %}

{% block body %}
<div class="div_tournaments">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><a style="text-decoration:none" href="{{ path('tournaments',{'platform':'todos'})}}">Juegos:</a> {{game.name_normalized}}</h1>
            <h2><i class="fab fa-{{ game.platform|lower}}"></i> {{game.platform}}</h2>
        </div>
    </div>
    <div class="col-lg-8 offset-lg-2">
    <div class="card">
        <div class="card-header">
            Nuevo torneo de {{game.name}}
        </div>
        <div class="card-body">
            <h2>Detalles</h2>
                <div class="form-group row">
                    <label for="game_name" class="col-sm-2 col-form-label">Juego</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="game_name" value="{{game.name_normalized}}" readonly>
                        <input type="hidden" class="form-control" id="game_no_normalized" value="{{game.name}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tournament_type" class="col-sm-2 col-form-label">Tipo de torneo</label>
                    <div class="col-sm-10">
                    <select class="form-control" id="tournament_type" disabled>
                        <option value="liga">Liga</option>
                        <option value="eliminatoria">Eliminatorias</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row" id="div_match_part">
                    <label for="tournament_match_part" class="col-sm-2 col-form-label">Participantes requeridos</label>
                    <div class="col-sm-10">
                    <select class="form-control" id="tournament_match_part">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row" id="div_league_date_start">
                    <label for="league_date_start" class="col-sm-2 col-form-label">Fecha de inicio</label>
                    <div class="col-sm-10">
                        <div id="league_date_start" class="input-append date league_date_start">
                            <input id="input_league_start" class="form-control" size="16" type="text" value="" readonly required/>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Reglas</h2>
                    <div class="form-group row field_wrapper">
                        <div class="col-sm-12 row" id="rule">
                            <div class="col-sm-11 col-10"><input type="text" class="form-control rule" name="field_name[]" value="" required/></div>
                            <div class="col-sm-1 col-1"><a href="javascript:void(0);" class="add_button btn btn-primary" title="Add field"><i class="fas fa-plus"></i></a></div>
                        </div>
                    </div>
                </div>

                <button type="button" id="create_new_tournament" class="btn btn-primary">Crear torneo</button>
                <a href="{{ path('game', {'game_name':game.name, 'page':1}) }}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript"> 

$(document).ready(function(){  

    $('#tournament_type').val('eliminatoria');
    $('#tournament_match_part').val(2);

    var date = new Date();
    var minDate_start = new Date(date.getFullYear(), date.getMonth(), date.getDate()+14);
    var maxDate_start = new Date(date.getFullYear(), date.getMonth()+1, date.getDate()+14);

    $(".league_date_start").datetimepicker({
        format: "dd MM yyyy - hh:ii",
        weekStart: "1",
        startDate: minDate_start,
        endDate: maxDate_start,
        autoclose: "true",
        pickerPosition: "top-right",
        setDate: minDate_start,
        language: 'es'
    });

    $(".league_date_start").datetimepicker('setDate', minDate_start);

    var addButton = $('.add_button'); //Add button selector
    var wrapper = $('.field_wrapper'); //Input field wrapper
    var fieldHTML = '<div class="col-sm-12 row new_rule_tournament rule" id="rule"><div class="col-sm-11 col-10"><input type="text" class="form-control" name="field_name[]" value="" required/></div><div class="col-sm-1 col-1"><a href="javascript:void(0);" class="btn btn-danger remove_button" title="Remove field"><i class="fas fa-minus"></i></a></div></div>';

    var x = 1; //Initial field counter is 1
    $(addButton).click(function(){ //Once add button is clicked
        if(x <10){ //Check maximum number of input fields
            x++; //Increment field counter
            $(wrapper).append(fieldHTML); // Add field html
        }
    });
    $(wrapper).on('click', '.remove_button', function(e){ //Once remove button is clicked
        e.preventDefault();
        $(this).parent('div').parent('div').remove(); //Remove field html
        x--; //Decrement field counter
    });

    $("#create_new_tournament").click(function() {
        var empty_rules = false;
        var indexRules = 0;
        var rules = {};
        $('input[name="field_name[]"]').each(function() { 
            rules['rule_'.concat(indexRules)] = $(this).val(); 
            if(rules['rule_'.concat(indexRules)] == "") empty_rules = true;
            indexRules++; 
        });

        if(!empty_rules) {
            var data = {}
            var game_name;
            var game_no_normalized;
            var tournament_type;
            var tournament_start;
            var tournament_start_formatted;

            game_name = $('#game_name').val();
            game_no_normalized = $('#game_no_normalized').val();
            tournament_type = $('#tournament_type').val();
            tournament_start = $("#league_date_start").data('datetimepicker').getDate();
            tournament_start_formatted = tournament_start.getFullYear() + "-" + (tournament_start.getMonth() + 1) + "-" + tournament_start.getDate() + " " + tournament_start.getHours() + ":" + tournament_start.getMinutes() + ":" + tournament_start.getSeconds();

            var match_part;
            match_part = $('#tournament_match_part').val();
            data['match_part'] = match_part;

            data['game_name'] = game_no_normalized;
            data['tournament_type'] = tournament_type;
            data['tournament_date'] = tournament_start_formatted;
            data['num_rules'] = indexRules;
            
            $.ajax({
                url: Routing.generate('create_tournament'),
                type: "POST",
                data: { 'data':data, 'rules':rules},
                success: function (data) {
                    console.log("Torneo creado correctamente");
                    window.location.replace(window.location.origin.concat("/app_dev.php/tournaments_game/",game_no_normalized,"/1"));
                },
                error : function(xhr, status, errorMessage) {
                    alert("Algo ha salido mal: "+errorMessage);
                }
            });
        }
        else
            alert("Los campos de reglas son obligatorios");
    });

});

</script>

{% endblock %}