{% extends 'base.html.twig' %}

{% block body %}
<div class="games_panel">
    <div class="jumbotron">
        {% for flashMessage in app.session.flashbag.get('notice') %}

    <div class="alert alert-success alert-dismissible flash_error_group" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ flashMessage }}
    </div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger alert-dismissible flash_error_group" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ flashMessage }}
    </div>

    {% endfor %}
        <div class="container">
            <h1 class="display-4">JUEGOS</h1>
            <h3>Juegos con torneos disponibles</h3>
            <p class="lead"><b>En esta sección se encuentra la lista de juegos para los cuales hay disponibles torneos en los que los
        usuarios pueden participar.</b></p>
        {% if is_granted('ROLE_MOD') %}
        <p class="lead">    
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir juego</button>
        </p>
        {% endif %}
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand offset-lg-1">Plataformas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if platform_selected == "todos" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="{{ path('tournaments', {'platform':'todos'}) }}">Todas</a>
                </li>
                {% for platform in platforms %}
                {% if platform_selected == platform.name %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="{{ path('tournaments', {'platform':platform.name}) }}"><i class="fab fa-{{ platform.name|lower}}"></i> {{ platform.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="games_elements">
        <br>
        <div class="row col-sm-1 col-lg-11 offset-lg-1">
        {% if games is defined and games is not null %}
        {% for game in games %}
            <div class="col-lg-2">
            <a href="{{ path('game', {'id_game':game.id, 'page': 1}) }}" class="game_tournament_link">
                <img class="img_hola" src="{{ asset('uploads/games/' ~ game.image) }}">
                <div class="game_tournament_name"><b>{{ game.name_normalized }}</b></div>
                <div class="game_tournament_data">{{ game.platform }} - {{ game.num_active }} activos</div>
            </a>
            </div>
        {% endfor %}
        {% else %}
        <div class="col-lg-11">
            No existen juegos en nuestro sistema para la plataforma seleccionada
        </div> 
        {% endif %}       
        </div>
        <br>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir juego</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(form) }}
        {{ form_widget(form.name) }}
        <br>
        {{ form_widget(form.image) }}
        <br>
        {{ form_widget(form.platform) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}