{% for post in posts %}
    <div class="post">
<div class="pull-left">
    <img class="rounded-circle img-fluid d-block mx-auto post_user_img" src="{{ asset('bundles/app/image/default_profile.png') }}" alt="">
</div>
<div class="post_user_datetime"><b><a href="{{ path('profile',{'username':post.user.username}) }}">{{ post.user.profileName }} </a></b>  {{ post.user.username }} <br> <b>Publicado: </b>{{ post.datetime|date('d-m-Y H:i', "Europe/Paris") }}</div>
<div class="post_text"><p>{{ post.text }}</p></div>
<div class="post_text"><b>Ha recibido en el intervalo introducido {{ post.num_likes}} me gusta</b></div>
<br>
{% if post.image is defined and post.image is not null %}
    <button type="button" class="btn btn-success myImag btn-block" data-src="{{ asset('uploads/posts/' ~ post.image) }}">Imagen de la publicación</button>
{% endif %}
    </div>
    <hr>
{% endfor %}

<!-- Modal Post Image -->
<div id="myModal" class="modal-img" style="margin-top:50px;">
  <!-- The Close Button -->
  <span class="close-modal-img btn" id="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-img-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="modal-img-caption"></div>
</div>

{% block javascripts %}
<script type="text/javascript">

// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("modal-img-caption");
$(".myImag").on("click", function(){
  modal.style.display = "block";
  modalImg.src = $(this).data('src');
});


// When the user clicks on <span> (x), close the modal
$('.close-modal-img').on('click' ,function() {
  modal.style.display = "none";
});

</script>
{% endblock %}