{% extends 'base.html.twig' %}

{% block body %}

    <!-- Header with Background Image -->
    <header class="business-header">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">
                <div class="col-lg-12 col-sm-6 text-center mb-3 user_info">
                    <img class="rounded-circle img-fluid d-block mx-auto profile_img" src="{{ asset('uploads/profile_images/' ~ user.image) }}" alt="">
                    <h2>{{ user.profileName }}</h2>
                    <small>{{ user.username }}</small>
                </div>
                </div>
            </div>
            </div>
        </div>
    </header>
    <br>
    <div class="col-lg-6 offset-lg-3">
        <div class="card">
            <div class="card-body">
                <ul class="list-inline">
                    <li class="list-inline-item user_data_element"><a href="{{ path('followers_user', { 'username' : user.username }) }}">Seguidores<br><b>{% if numfollowers is defined %} {{ numfollowers }} {% else %} 0 {% endif %}</b></a></li>
                    <li class="list-inline-item user_data_element"><a href="{{ path('followings_user', { 'username' : user.username }) }}">Siguiendo<br><b>{% if numfollowing is defined %} {{ numfollowing }} {% else %} 0 {% endif %}</b></a></li>
                    <li class="list-inline-item user_data_element"><a class="current_page">Publicaciones<br><b>{% if numposts is defined %} {{ numposts }} {% else %} 0 {% endif %}</b></a></li>
                    <li class="list-inline-item user_data_element"><a href="{{ path('likes_user', { 'username' : user.username }) }}">Me gusta<br><b>{% if numlikes is defined %} {{ numlikes }} {% else %} 0 {% endif %}</b></a></li>
                    <li class="list-inline-item user_data_element">Puntuación<br><b>{{ puntuation }}</b></li>
                </ul>
            </div>
        </div>
    </div>
<div class="col-lg-12 col-sm-12">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="card user_accounts">
                <div class="card-header">
                    <h5><i class="fas fa-gamepad"></i> Cuentas de {{ user.username }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% if user.steamId is defined and user.steamId is not null %}
                        <li class="list-group-item"><i class="fab fa-steam"></i> {{ user.steamId }}</li>
                    {% endif %}
                    {% if user.xboxId is defined and user.xboxId is not null %}
                        <li class="list-group-item"><i class="fab fa-xbox"></i> {{ user.xboxId }}</li>
                    {% endif %}
                    {% if user.psnId is defined and user.psnId is not null %}
                        <li class="list-group-item"><i class="fab fa-playstation"></i> {{ user.psnId }}</li>
                    {% endif %}
                    {% if user.steamId is null and user.xboxId is null 
                        and user.psnId is null %}
                        <li class="list-group-item">Este usuario no posee cuentas de juego registradas</li>
                    {% endif %}
                </ul>
            </div>
        </div>

            <div class="col-lg-6 col-sm-12">
                <div class="card followers_panel">
                    <div class="card-header">
                        <h5><i class="fas fa-user-friends"></i> Publicaciones de {{ user.username }}</h5>
                    </div>
                    <div class="card-body">
                    {% if posts is defined and posts is not null %}
                        {% for post in posts %}
                            <div class="post">
                        <div class="pull-left">
                            <img class="rounded-circle img-fluid d-block mx-auto post_user_img" src="{{ asset('uploads/profile_images/' ~ post.user.image) }}" alt="">
                        </div>
                        <div class="post_user_datetime"><b><a href="{{ path('profile',{'username':post.user.username}) }}">{{ post.user.profileName }} </a></b>  {{ post.user.username }} <br> {{ post.datetime }}</div>
                        <div class="post_text"><p>{{ post.text }}</p></div>
                        {% if post.image is defined and post.image is not null %}
                            <button type="button" class="btn btn-success myImag btn-block" data-src="{{ asset('uploads/posts/' ~ post.image) }}">Imagen de la publicación</button>
                        {% endif %}
                        <div class="">
                            <span data-likes={{ post.likes }} data-liked="{{ post.hasLike }}" data-post="{{ post.id }}" class="btn far fa-thumbs-up btn_like 
                            {% if post.hasLike == 'liked' %}post_liked{% else %}post_unliked{% endif %}"> {{ post.likes }}</span>
                        </div>
                            </div>
                            {% if loop.index != numposts %}<hr>{% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="post">
                            No existen publicaciones
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-2"></div>
    </div>
</div>

<br>

<!-- Modal Post Image -->
<div id="myModal" class="modal-img" style="margin-top:50px;">
  <!-- The Close Button -->
  <span class="close-modal-img btn" id="close">&times;</span>
  <!-- Modal Content (The Image) -->
  <img class="modal-img-content" id="img01">
  <!-- Modal Caption (Image Text) -->
  <div id="modal-img-caption"></div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">

    $(".btn_like").on('click', function() {
        var hasliked = $(this).attr('data-liked');
        var likes = parseInt($(this).attr('data-likes'));
        var id_post = $(this).attr('data-post');
        var $btn_like = $(this);

        if(hasliked == 'liked') {
            $(this).addClass('post_unliked');
            $(this).removeClass('post_liked');
            $(this).attr('data-liked', 'unliked');
            likes = likes - 1;
            $(this).attr('data-likes', likes);
            $btn_like.html(" "+likes);
            $.ajax({
                url: Routing.generate('unlike_post', { id_post: id_post }),
                success: function(data) {  
                    console.log("Post unliked");
                }
            });
        }
        else {
            $(this).addClass('post_liked');
            $(this).removeClass('post_unliked');
            $(this).attr('data-liked', 'liked');
            likes = likes + 1;
            $(this).attr('data-likes', likes);
            $btn_like.html(" "+likes);
            $.ajax({
                url: Routing.generate('like_post', { id_post: id_post }),
                success: function(data) {  
                    console.log("Post liked");
                }
            });
        }
    });

// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("modal-img-caption");
$(".myImag").on("click", function(){
  modal.style.display = "block";
  modalImg.src = $(this).data('src');
});


// When the user clicks on <span> (x), close the modal
$('.close-modal-img').on('click' ,function() {
  modal.style.display = "none";
  modalImg.src = "";
});

</script>
{% endblock %}